@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Cossette+Titre:wght@400;700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Henny+Penny&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mansalva&family=Manufacturing+Consent&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quicksand:wght@300..700&family=Shadows+Into+Light+Two&display=swap');

:root {
    --font-padrao: Quicksand, sans serif;
    --font-padrao02: Nunito, sans serif;

    --roxo: #501B69;
    --roxo2: #290c37;
    --lilas: #f9d3ff;
    --lilas2: #b658c4;
    --preto: #000000;
    --branco: #FFFFFF;
}

nav {
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1000; /* Para ficar acima do conteúdo.*/
    display: flex;
    padding-top: 60px;
}

.navbar ul {
    align-items: center;
    display: flex; /* Coloca um ao lado do outro*/
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 20px; /* Espaço entre os itens*/
}

.navbar a {
    text-decoration: none;
    color: var(--roxo);
    font-weight: bold;
    transition-duration: 0.5s;
}

.navbar a:hover {
    color: var(--lilas2);
    font-weight: bolder;
}

.navbar img {
    max-width: 100px;
    width: 90%;
    height: auto;
    display: block;
}