@charset "UTF-8";

:root {
    --font-padrao: Quicksand, sans serif;
    --font-padrao02: Nunito, sans serif;

    --roxo: #501B69;
    --roxo2: #290c37;
    --lilas: #f9d3ff;
    --preto: #000000;
    --branco: #FFFFFF;
}

header {
    width: 100%;
    padding: 28px 8%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
   max-width: 150px; /* Para telas grandes*/
   width: 100px;     /* Para telas menores*/
   height: auto;     /* Mantem as proporções*/
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav li a {
    text-decoration: none;
    color: var(--roxo);
    font-weight: bold;
}